/* CSS Theme from the amazing Evan Jones (evanjones.ca) */

a {
    text-decoration: none;
}

a:link {
    color: #181818;
    border-bottom: solid thin #d6ceba;
    font-weight: bold;
}

a:visited {
    color: #181818;
    border-bottom: solid thin #d6ceba;
}

a:hover {
    color: #fff;
    border-bottom: none;
    background: #181818;
}

a:active {
    color: #fff;
    background: #000;
    border-bottom: dotted thin #d6ceba;
}

body {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width: 50em;
    max-width: 800px;
    border: outset #777777;
    border-width: 5px;
    font-family: 'Computer Modern Serif', Georgia, Cambria, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.4;
    color: #181818;
    background: #071531;
}

.header-div {
    border-bottom: solid #888;
    padding: 10px;
    background: #ffffff;
}

.body-div {
    padding: 40px;
    background: #ffffff;
}

table {
    border: 1px solid black;
    border-color: #181818;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;
    border-color: #181818;
}

h2, .heading, .name {
    color: #181818;
}

.heading, .name {
    margin: 0;
    text-align: center;
}

.name {
    font-size: 250%;
}

.me {
    font-weight: bold;
    font-style: inherit;
}

.bibliography {
    margin-left: 2em;
    text-indent: -2em;
}

.profile {
    border: solid #777777;
    border-width: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    border-radius: 10%;
}

.quote {
    color: #333;
    font-size: 0.8em;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.js-plotly-plot {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0.1em;
}
