
/* Body stuff */
body {
    font-family: 'EB Garamond', Garamond, Georgia, serif;
    font-size: 22px;
    line-height: 1.4em;
    max-width: 50em;
    margin: auto;
    padding: 1em 4%;
    color: #000000;
    background: #ffffff;
}
