
/* Body stuff */
body {
    /* font-family: 'Lucida Console', Monaco, monospace; */
    font-family: 'EB Garamond';
    font-size: 18px;
    line-height: 1.4em;
    max-width: 50em;
    margin: auto;
    padding: 1em 4%;
    background: #FFFFFF;
    color: #111111;
}

/* center the header */
h1 {
    font-size: 54px;
    text-align: center;
    color: #458588;
    font-weight: normal;
    line-height: 1em;
}

h2, h3, h4, h5 {
    text-decoration: underline dotted;
    color: #000000;
    font-weight: normal;
}

/* Make the inner content padded */
#inner-content {
    max-width: 45em;
    margin: auto;
    padding: 1em 4%;
}

/* standard links */
a, a:visited {
    text-decoration: none;
    color: #b16286;
}

a:hover {
    text-decoration: underline dotted;
    color: #b16286;
}

/* navigation  bar */
nav {
    display: grid;
    grid: 1.2em / auto auto auto auto;
}

nav a, nav a:visited {
    color: #111111;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
}

nav a:hover {
    color: #98971a;
    text-decoration: none;
}

/* Special blog related CSS */
/* hides the author */
.author {
    text-decoration: none;
    text-align: center;
    color: #b16286;
    font-size: 1.5em;
}

.date {
    text-decoration: none;
    text-align: center;
    color: #689d6a;
    font-size: 1.2em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}
